.cards {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
}

.card__profile {
  position: relative;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0px;
  background-color: transparent;
  background-image: url(../images/delete-icon.svg);
  background-position: center;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

@media screen and (max-width: 627px) {
  .cards {
    padding-bottom: 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
  }
}
