.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 16px;
}

.modal__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal_opened {
  visibility: visible;
  animation: fade-in 0.25s 1 forwards;
}

.modal_transition {
  visibility: visible;
  animation: fade-out 0.25s 1 forwards;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.modal__image-container {
  display: flex;
  flex-direction: row;
}

.modal__image-modal-image {
  max-height: 661px;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
}

.modal__image-close-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.modal__image-close-btn:hover {
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

.modal__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__image-caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0;
  padding: 4px 8px;
  background-color: #212121;
  border-radius: 8px;
  margin-top: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 10px;
  }

  .modal__box {
    max-width: 288px;
  }

  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__image-modal-image {
    max-width: 288px;
  }

  .modal__image-caption {
    font-size: 16px;
  }

  .modal__image-container {
    flex-direction: column-reverse;
    max-width: 288px;
  }

  .modal__image-close-btn {
    align-self: flex-end;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 24px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
